In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
print("Hello")

Hello

In [3]:
pink_df = pd.read_csv("pink.csv")
metro_df = pd.read_csv("metro.csv")

In [4]:
pink_df.head()

,Pink/id,Pink/nameTH,Pink/nameEN,Pink/lat,Pink/long
0,MT01,อิมแพ็คเมืองทองธานี,Impact Muang Thong Thani,13.910406,100.544293
1,MT02,ทะเลสาบเมืองทองธานี,Muang Thong Thani Lake,13.918309,100.545659
2,PK01,ศูนย์ราชการนนทบุรี,Nonthaburi Civic Center,13.859858,100.518110
3,PK02,แคราย,Khae Rai,13.862564,100.520760
4,PK03,สนามบินน้ำ,Sanambin Nam,13.874243,100.516303

In [5]:
metro_df.head()

,No.,Line_Code,Status,Station_Code,Station_Name_EN,Station_Name_TH,Latitude,Longitude
0,1,ARL,1,A1,Suvarnabhumi,สุวรรณภูมิ,13.697907,100.752249
1,2,ARL,0,A10,Don Muang,ดอนเมือง,NaN,NaN
2,3,ARL,1,A2,Lat Krabang,ลาดกระบัง,13.727890,100.748624
3,4,ARL,1,A3,Ban Thap Chang,บ้านทับช้าง,13.732826,100.691306
4,5,ARL,1,A4,Hua Mak,หัวหมาก,13.738048,100.645178

In [6]:
metro_df.columns = metro_df.columns.str.lower()
metro_df['line_code'] = metro_df['line_code'].astype(str)
metro_df['status'] = metro_df['status'].astype(bool)

In [7]:
metro_df.head()

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude
0,1,ARL,True,A1,Suvarnabhumi,สุวรรณภูมิ,13.697907,100.752249
1,2,ARL,False,A10,Don Muang,ดอนเมือง,NaN,NaN
2,3,ARL,True,A2,Lat Krabang,ลาดกระบัง,13.727890,100.748624
3,4,ARL,True,A3,Ban Thap Chang,บ้านทับช้าง,13.732826,100.691306
4,5,ARL,True,A4,Hua Mak,หัวหมาก,13.738048,100.645178

In [8]:
merged = metro_df.merge(
    pink_df[['Pink/id', 'Pink/lat', 'Pink/long']],
    left_on='station_code',
    right_on='Pink/id',
    how='left',
)
merged[merged['line_code'] == 'Pink'].head()

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude,Pink/id,Pink/lat,Pink/long
145,146,Pink,False,MT01,Impact Muang Thong Thani,อิมแพ็คเมืองทองธานี,NaN,NaN,MT01,13.910406,100.544293
146,147,Pink,False,MT02,Muang Thong Thani Lake,ทะเลสาบเมืองทองธานี,NaN,NaN,MT02,13.918309,100.545659
203,204,Pink,False,PK01,Nonthaburi Civic Center,ศูนย์ราชการนนทบุรี,NaN,NaN,PK01,13.859858,100.518110
204,205,Pink,False,PK02,Khae Rai,แคราย,NaN,NaN,PK02,13.862564,100.520760
205,206,Pink,False,PK03,Sanambin Nam,สนามบินน้ำ,NaN,NaN,PK03,13.874243,100.516303

In [9]:
merged['latitude'] = merged['latitude'].combine_first(merged['Pink/lat'])
merged['longitude'] = merged['longitude'].combine_first(merged['Pink/long'])
merged[merged['line_code'] == 'Pink'].head()

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude,Pink/id,Pink/lat,Pink/long
145,146,Pink,False,MT01,Impact Muang Thong Thani,อิมแพ็คเมืองทองธานี,13.910406,100.544293,MT01,13.910406,100.544293
146,147,Pink,False,MT02,Muang Thong Thani Lake,ทะเลสาบเมืองทองธานี,13.918309,100.545659,MT02,13.918309,100.545659
203,204,Pink,False,PK01,Nonthaburi Civic Center,ศูนย์ราชการนนทบุรี,13.859858,100.518110,PK01,13.859858,100.518110
204,205,Pink,False,PK02,Khae Rai,แคราย,13.862564,100.520760,PK02,13.862564,100.520760
205,206,Pink,False,PK03,Sanambin Nam,สนามบินน้ำ,13.874243,100.516303,PK03,13.874243,100.516303

In [10]:
merged = merged.drop(columns=['Pink/id', 'Pink/lat', 'Pink/long'])
merged.head()

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude
0,1,ARL,True,A1,Suvarnabhumi,สุวรรณภูมิ,13.697907,100.752249
1,2,ARL,False,A10,Don Muang,ดอนเมือง,NaN,NaN
2,3,ARL,True,A2,Lat Krabang,ลาดกระบัง,13.727890,100.748624
3,4,ARL,True,A3,Ban Thap Chang,บ้านทับช้าง,13.732826,100.691306
4,5,ARL,True,A4,Hua Mak,หัวหมาก,13.738048,100.645178

In [11]:
metro_df = merged
metro_df[metro_df['line_code'] == 'Pink'].head()

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude
145,146,Pink,False,MT01,Impact Muang Thong Thani,อิมแพ็คเมืองทองธานี,13.910406,100.544293
146,147,Pink,False,MT02,Muang Thong Thani Lake,ทะเลสาบเมืองทองธานี,13.918309,100.545659
203,204,Pink,False,PK01,Nonthaburi Civic Center,ศูนย์ราชการนนทบุรี,13.859858,100.518110
204,205,Pink,False,PK02,Khae Rai,แคราย,13.862564,100.520760
205,206,Pink,False,PK03,Sanambin Nam,สนามบินน้ำ,13.874243,100.516303

In [12]:
metro_df['status'] = metro_df['status'].mask(metro_df['line_code'] == 'Pink', True)
metro_df['status'] = metro_df['status'].mask(metro_df['line_code'] == 'Yellow', True)
metro_df[metro_df['line_code'] == 'Pink'].head()

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude
145,146,Pink,True,MT01,Impact Muang Thong Thani,อิมแพ็คเมืองทองธานี,13.910406,100.544293
146,147,Pink,True,MT02,Muang Thong Thani Lake,ทะเลสาบเมืองทองธานี,13.918309,100.545659
203,204,Pink,True,PK01,Nonthaburi Civic Center,ศูนย์ราชการนนทบุรี,13.859858,100.518110
204,205,Pink,True,PK02,Khae Rai,แคราย,13.862564,100.520760
205,206,Pink,True,PK03,Sanambin Nam,สนามบินน้ำ,13.874243,100.516303

In [13]:
metro_df[metro_df['line_code'] == 'Yellow'].head()

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude
337,338,Yellow,True,YL01,Lat Phrao,ลาดพร้าว,NaN,NaN
338,339,Yellow,True,YL02,Phawana,ภาวนา,NaN,NaN
339,340,Yellow,True,YL03,Chok Chai 4,โชคชัย 4,NaN,NaN
340,341,Yellow,True,YL04,Lat Phrao 71,ลาดพร้าว 71,NaN,NaN
341,342,Yellow,True,YL05,Lat Phrao 83,ลาดพร้าว 83,NaN,NaN

In [14]:
metro_df['line_code'] = metro_df['line_code'].str.lower()
metro_df.head()

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude
0,1,arl,True,A1,Suvarnabhumi,สุวรรณภูมิ,13.697907,100.752249
1,2,arl,False,A10,Don Muang,ดอนเมือง,NaN,NaN
2,3,arl,True,A2,Lat Krabang,ลาดกระบัง,13.727890,100.748624
3,4,arl,True,A3,Ban Thap Chang,บ้านทับช้าง,13.732826,100.691306
4,5,arl,True,A4,Hua Mak,หัวหมาก,13.738048,100.645178

In [15]:
metro_df['line_code'] = metro_df['line_code'].str.replace(' ','_')
metro_df.head(100)

,no.,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude
0,1,arl,True,A1,Suvarnabhumi,สุวรรณภูมิ,13.697907,100.752249
1,2,arl,False,A10,Don Muang,ดอนเมือง,NaN,NaN
2,3,arl,True,A2,Lat Krabang,ลาดกระบัง,13.727890,100.748624
3,4,arl,True,A3,Ban Thap Chang,บ้านทับช้าง,13.732826,100.691306
4,5,arl,True,A4,Hua Mak,หัวหมาก,13.738048,100.645178
...,...,...,...,...,...,...,...,...
95,96,light_green,True,E3,Nana,นานา,13.740537,100.555475
96,97,light_green,True,E4,Asok,อโศก,13.737048,100.560355
97,98,light_green,True,E5,Phrom Phong,พร้อมพงศ์,13.730456,100.569700
98,99,light_green,True,E6,Thong Lo,ทองหล่อ,13.724357,100.578429
99,100,light_green,True,E7,Ekkamai,เอกมัย,13.719557,100.585088

In [16]:
metro_df = metro_df.drop(columns=["no."])
metro_df.head()

,line_code,status,station_code,station_name_en,station_name_th,latitude,longitude
0,arl,True,A1,Suvarnabhumi,สุวรรณภูมิ,13.697907,100.752249
1,arl,False,A10,Don Muang,ดอนเมือง,NaN,NaN
2,arl,True,A2,Lat Krabang,ลาดกระบัง,13.727890,100.748624
3,arl,True,A3,Ban Thap Chang,บ้านทับช้าง,13.732826,100.691306
4,arl,True,A4,Hua Mak,หัวหมาก,13.738048,100.645178

In [17]:
metro_df = metro_df.rename(columns={'status': 'active'})
metro_df.head()

,line_code,active,station_code,station_name_en,station_name_th,latitude,longitude
0,arl,True,A1,Suvarnabhumi,สุวรรณภูมิ,13.697907,100.752249
1,arl,False,A10,Don Muang,ดอนเมือง,NaN,NaN
2,arl,True,A2,Lat Krabang,ลาดกระบัง,13.727890,100.748624
3,arl,True,A3,Ban Thap Chang,บ้านทับช้าง,13.732826,100.691306
4,arl,True,A4,Hua Mak,หัวหมาก,13.738048,100.645178

In [18]:
metro_df.to_csv('new_metro.csv', index=False, encoding="utf-8-sig")

In [19]:
metro_df.to_excel('new_metro.xlsx', index=False)